<div class='container px-5 px-sm-0'>
    <div class='row'>
        <div class='col-md-3'>
            <h2>User</h2>
            <%= render 'publics/users/user', user: current_user %>
            <%= link_to 'new', new_post_path %>
        </div>
        <div class='col-md-8 offset-md-1'>
            <h2>投稿</h2>
            <%= render 'publics/users/post', posts: @posts %>
        </div>
    </div>
</div>