// Place all the styles related to the Publics::posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.post:hover .edit {
  display: inline;
}

.edit {
  position: absolute;
  display: none;
  padding: 2px;
  border-radius: 5px;
  background-color: #FFFFFF;
  width: 50px;
  // top: 10px;
  left: 20%;
  font-size: 14px;
  text-align: center;
}