<table>
    <thead>
        <tr>
            <th>nickname</th>
            <th>introduction</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= user.nickname %></td>
            <td><%= user.introduction %></td>
        </tr>
    </tbody>
</table>
<%= link_to 'edit', edit_user_path(user) %>
