<% if current_user != user %>
  <% if current_user.following?(user) %>
    <div>
      <%= link_to user_relationships_path(user.id), method: :delete, remote: true do %>
        フォロー中
      <% end %>
    </div>
  <% else %>
    <div>
      <%= link_to user_relationships_path(user.id), method: :post, remote: true do %>
        <i class="fas fa-user-plus"></i>フォロー
      <% end %>
    </div>
  <% end %>
<% end %>