<div class="container">
 <div class="row">
  <div class="col-mt-4 offset-md-4 mx-auto">
    <h1>TAWAMURE</h1>
  </div>
  <div class="col-md-10 mt-3 mx-auto">
   <%= image_tag asset_url('tawamure_top.jpg'), class:"img-fluid align-middle w-100 mx-auto" %>
   <div style="position:absolute; top:80%; left:30px; color:#000000;	background:rgba(245,245,245,0.7);">
    <p  class="small text-left">
     たわむれ</br>
     余暇にする遊びや楽しみ（娯楽）  </br>
     アウトドアを中心とした遊びを発信できるサイトとなります。
    </p>
   </div>
   <div class="col-2"></div>
  </div>
 </div>
 <div class='row'>
  <div class='mx-auto mt-4'>
   <%= link_to 'はじめる',new_user_registration_path, class:"btn btn-info rounded-pill" %>
  </div>
 </div>
 </div>
</div>

