<h2>Results index</h2>
  <!--検索対象モデルがUserの時 -->
  <% if @range == "User" %>
      <%= render 'publics/users/index',users: @users %>
  <% else %>
    <!--検索対象モデルがUserではない時(= 検索対象モデルがBookの時) -->
    <%= render 'publics/users/post',posts: @posts %>
  <% end %>